
body {
    background-color: white;
    color: black;
}
/* The following sections control the header stylization and links*/
.header {
    display: flex;
    justify-content: space-between;
    color: black;
    height: 70px;
    width: 100%;
    max-width: 2000px;
    background-color: rgb(177, 177, 194);
    border-bottom: 8px solid rgb(37, 37, 37);
    border-radius: 30px 30px 0px 0px;
}

.header h1 {
    display: inline-block;
    font-size: calc(40px + .5vw);
    margin: 1vh 0px 1vh 2vw;
    font-family: 'Brush Script MT', 'Brush Script Std', 'cursive';
    letter-spacing: 4px;
    max-height: 30px;
}

.header #links ul {
    list-style-type: none;
    margin: 3vh 0px 3vh 0px;
}

.header #links ul li {
    display: inline-block;
    margin: 0px 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.header #links {
    padding-top: auto;
    margin-right: 40px;
    float: right;
    font-size: calc(25px - .25vw);
}

/* The following sections control the cover photos, h2 subtitle, and photo*/
.imgsection {
    display: flex;
    width: 100%;
    max-width: 2000px;
}

.imgsection h2 {
    position:relative;
    margin-top: calc(150px + .5vh);
    margin-left: -20vw;
    font-size:calc(40px + .25vw);
    text-shadow: 8px 2px 4px rgb(0, 0, 0);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#cover {
    display:flex;
    max-height: 320px;
    width: 100%;
    border-radius: 0px 0px 30px 30px;
    border-bottom: 8px solid black;
}

#photo {
    position: absolute;
    margin-left: 5vw;
    margin-top: 5.0vh;
    border: 8px solid black;
    width: 10.0vw;
    max-height: 175px;
    max-width: 175px;
}
/* Page container houses the majority of the body content and sidebar*/
#pagecontainer {
    display: flex;
    justify-content: left;
    margin-top: 10px;
    border-radius: 30px 30px 0px 0px;
    background-color:  rgb(198, 202, 235);
    border-top: 8px solid black;
}

.sidebar {
    margin-right: auto;
    margin-top: 20px;
    margin-left: 20px;
    inline-size: min-content;
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    max-width: 350px;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    text-align: right;
    border-right: 8px solid black;
    border-radius: 30px;
}

/* The following sections control the headers on the sidebar*/
h3, h5 {
    font-size: 2vw;
    color: white;
    text-shadow: 8px 2px 4px rgb(0, 0, 0);
    margin-top: auto;
    padding-bottom: 195px;
}

h4 {
    font-size: 2vw;
    color: white;
    text-shadow: 8px 2px 4px rgb(0, 0, 0);
    margin-top: auto;
    padding-bottom: 1000px; 
}
/* The following sections control the images and content for the bio and skillsets sections*/
.tile.is-child {
    box-shadow: 0px 0px 40px rgb(38, 8, 146);
    border-radius: 0px 0px 30px 0px;
}

#topcont {
    background-image: url("./about.jpg");
    background-position: right;
    background-color: black;
    background-repeat: no-repeat;
}

.pabme {
    text-indent: 10px;
    color: white;
    margin: 0px 300px 0px 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 30px 0px 30px 0px;
}

#midcont {
    background-image: url("./Skillsets.jpg");
    background-position: right;
    background-repeat: no-repeat;
    justify-content: space-between;
    min-height: 250px;
    background-color: black;
}

.maincontent {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: -10px;
    margin-left: 10px;
}

.maincontent p {
    color: rgb(216, 216, 216);
    position: absolute;
    margin-left: 80px;
    font-size: min(4px + .6vw);
    margin-top: 75px;
    text-indent: 40px;
    inline-size: 1300px;
    overflow-wrap: break-word;
    text-overflow: hidden;
    max-height: 200px;
}

.training {
    display: flex;
    max-height: 271px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: -10px;
}

.skillsul {
    color: white;
	list-style: none;
	padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    margin-left: 100px;
}

.contentimg:hover {
    box-shadow: inset 0px 0px 8px
    white, 0 0 15px
    white;
}

.contentskimg:hover {
    box-shadow: inset 0px 0px 8px
    white, 0 0 15px
    white;
}

.training2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-left: 90px;
    row-gap: 30px;
    column-gap: 30px;
    justify-content: center;
}

.training2 #p1 {
position: relative;
}

#pantry, #dplanner, #quiz, #DenBoot {
    width: 600px;
    height: 300px;
    border-top: 40px solid black;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
    border-left: 10px solid black;
    opacity: 0.5;
}

#pantry:hover, #dplanner:hover, #quiz:hover, #DenBoot:hover {
    box-shadow: inset 0px 0px 8px
    blue, 0 0 40px
    blue;
    opacity: 1.0;
}

#boxes {
    margin-top: 10px;
    position: absolute;
}

/*The content below controls the tooltips found in the skillsets section*/
/*Tooltip info for CCNP*/
.ccnp .ttext1 {
    visibility: hidden;
    width:300px;
    max-width: 300px;
    background-color: rgb(61, 61, 61);
    color: white;
    font-size: 15px;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    margin-left:20px;
    text-decoration: none;
    position: absolute;
}

.ccnp:hover .ttext1{
    visibility: visible;
    text-decoration: none;
    text-shadow: 0px 2px 10px black;
}

/*Tooltip info for JNCIA*/
.jncia .ttext2 {
    visibility: hidden;
    width:300px;
    max-width: 300px;
    background-color: rgb(61, 61, 61);
    color: white;
    font-size: 15px;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    margin-left:20px;
    text-decoration: none;
    position: absolute;
}

.jncia:hover .ttext2{
    visibility: visible;
    text-decoration: none;
    text-shadow: 0px 2px 10px black;
}

/*Tooltip info for ITIL*/
.itil .ttext3 {
    visibility: hidden;
    width:300px;
    max-width: 300px;
    background-color: rgb(61, 61, 61);
    color: white;
    font-size: 15px;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    margin-left:20px;
    text-decoration: none;
    position: absolute;
}

.itil:hover .ttext3{
    visibility: visible;
    text-decoration: none;
    text-shadow: 0px 2px 10px black;
}

/*Tooltip info for Incident Management*/
.im .ttext4 {
    visibility: hidden;
    width:300px;
    max-width: 300px;
    background-color: rgb(61, 61, 61);
    color: white;
    font-size: 15px;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    margin-left:20px;
    text-decoration: none;
    position: absolute;
}

.im:hover .ttext4{
    visibility: visible;
    text-decoration: none;
    text-shadow: 0px 2px 10px black;
}

/*Tooltip info for Senior Management Experience*/
.sme .ttext5 {
    visibility: hidden;
    width:300px;
    max-width: 300px;
    background-color: rgb(61, 61, 61);
    color: white;
    font-size: 15px;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    margin-left:20px;
    text-decoration: none;
    position: absolute;
}

.sme:hover .ttext5{
    visibility: visible;
    text-decoration: none;
    text-shadow: 0px 2px 10px black;
}

/*Tooltip info for Technical Writer*/
.tw .ttext6 {
    visibility: hidden;
    width:300px;
    max-width: 300px;
    background-color: rgb(61, 61, 61);
    color: white;
    font-size: 15px;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    margin-left:20px;
    text-decoration: none;
    position: absolute;
}

.tw:hover .ttext6{
    visibility: visible;
    text-decoration: none;
    text-shadow: 0px 2px 10px black;
}

/*Tooltip info for HTML & CSS*/
.html .ttext7 {
    visibility: hidden;
    width:300px;
    max-width: 300px;
    background-color: rgb(61, 61, 61);
    color: white;
    font-size: 15px;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    margin-left:20px;
    text-decoration: none;
    position: absolute;
}

.html:hover .ttext7{
    visibility: visible;
    text-decoration: none;
    text-shadow: 0px 2px 10px black;
}

/*Tooltip info for JavaScript*/
.java .ttext8 {
    visibility: hidden;
    width:300px;
    max-width: 300px;
    background-color: rgb(61, 61, 61);
    color: white;
    font-size: 15px;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    margin-left:20px;
    text-decoration: none;
    position: absolute;
    z-index: 1;
}

.java:hover .ttext8{
    visibility: visible;
    text-decoration: none;
    text-shadow: 0px 2px 10px black;
    z-index: 1;
}

.ccnp, .jncia, .itil, .im, .sme, .tw, .java {
    text-decoration: underline;
    flex: 1 1 150px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 100px 0px 0px;
}

/*Styling for contact me section*/
#maincontentcontact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#emailbutton, #githubbutton, #linkedinbutton{
    max-height: 150px;
    max-width: 150px;
    border-radius: 40px;
    margin-top: 70px;
}

/*controls button highlights and press stylization by applying borders*/
#emailbutton:hover, #githubbutton:hover, #linkedinbutton:hover{
    box-shadow: inset 0px 0px 8px
    blue, 0 0 15px
    black;
}

#emailbutton:active, #githubbutton:active, #linkedinbutton:active{
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: -2px solid black;
    border-left: -2px solid black;
}

/*The below content controls the footer*/
.footer {
    background-color:  rgb(198, 202, 235);
}

.footer h6 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}